body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.p {
    color: #E0E0E0;
}

h1 {
    color: #E0E0E0;
}

.disclaimer {
    filter: brightness(60%);
    font-size: 0.9rem;
    text-align: center;
    position: relative;
}

/* Modificaciones para dispositivos moviles */
@media (max-width: 600px) {
    .disclaimer {
        filter: brightness(60%);
        font-size: 0.9rem;
        text-align: left;
        position: relative;
    }
    .github-img,
    .mail {
        width: 40px; /* Reduce el tamaño en dispositivos móviles */
        bottom: 5px; /* Ajusta la posición inferior */
        right: 15px; /* Ajusta la posición derecha */
    }

    .mail {
        width: 40px;
        bottom: 45px; /* Ajusta el espacio entre los iconos en dispositivos móviles */
    }
    .form-monto {
        margin-top: 15px;
        text-align: left;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px; /* Espacio entre el input y el botón */
    }
    .button-monto {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .tcambio-conversion {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }
}

.fechaActual {
}

.github-img,
.mail {
    position: fixed; /* Fija la posición relativa al viewport */
    bottom: 10px; /* Espacio desde la parte inferior de la pantalla */
    right: 10px; /* Espacio desde el lado derecho de la pantalla */
    width: 50px; /* Establece el tamaño */
    height: auto; /* Mantiene la proporción */
}

.logobancos {
    position: relative; /* Fija la posición relativa al viewport */
    width: 100px; /* Establece el tamaño */
}

.logobanderas {
    display: flex;
    width: 50px; /* Establece el tamaño */
    height: auto; /* Establece el tamaño */
}

.mail {
    bottom: 70px; /* Coloca el icono de correo un poco más arriba del icono de GitHub */
}

.mail {
    position: fixed;
    width: 50px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: left;
    border: 1px solid #dee2e6;
    color: #4CAF50
}

th, td {
    padding: 10px;
    border: 1px solid #dee2e6;
}

a:link {
    color: #87CEEB;
}

a:visited {
    color: #87CEEB;
}

a:active {
    color: #FFFFFF;
}

button {
    background-color: #ffc9a6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

button:disabled {
    background-color: #FF8C42;
}

button:hover {
    background-color: #fa9152;
    transition: background-color 0.5s ease;
}

.rates-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    color: #002B5B;
    margin-bottom: 50px;
}

.rates-container-conversion {
    display: flex;
    justify-content: space-between; /* Divide el espacio entre los dos extremos */
    gap: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    color: #002B5B;
    margin-bottom: 50px;
}

.tcambio-banderas {
    display: flex;
    justify-content: space-between; /* Divide el espacio entre los dos extremos */
    gap: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    color: #002B5B;
    margin-bottom: 50px;
}

.resultado-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    color: #002B5B;
    margin-bottom: 50px;
}

.input-container {
    flex-direction: column; /* Elementos uno debajo del otro */
    gap: 80px; /* Espacio entre el select y el formulario */
}

.right-content {
    text-align: right;
    flex: 1;
}

.conversion-logo {
    margin-top: 20px;
    text-align: left;
}

.form-monto {
    margin-top: 15px;
    text-align: left;
    display: flex;
    align-items: center; /* Alinea el input y el botón verticalmente */
    gap: 10px; /* Espacio entre el input y el botón */
}

.tcambio-conversion {
    text-align: right;
display: flex;
}

.button-monto {
    background-color: #FF8C42;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

.button-cambio {
    background-color: #FF8C42;
    border: none;
    padding: 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-left: 12px;
}

.eur-rates-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    color: #002B5B;
    margin-bottom: 50px;
}

.rate-value {
    font-size: 20px;
    font-weight: bold;
    color: #002B5B;
}

.rate-item {
    text-align: center;
}

.rate-item p {
    margin: 0;
}
