.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make the App container fill the full height of the screen */
  background-image: url('./imagenes/bg.jpg'); /* Cambia esto al path correcto */
  background-size: cover; /* Asegura que la imagen cubra todo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  width: 20vmin;
}
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 */

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-body {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  flex: 1;
}

.App-footer {
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}